<footer class="page-footer teal">
  <div class="container">
      <div class="row">
          <div class="col l6 s12">
              <h5 class="white-text">Acerca de mi</h5>
              <p class="grey-text text-lighten-4">Estudiante de cuarto semestre de Ingenieria de Sistemas en la
                  Universidad Francisco de Paula Santander.</p>
              <p class="grey-text text-lighten-4">Egresado del SENA como Tecnólogo en Analisis y Desarrollo de
                  Sistemas de Información</p>
          </div>
          <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Contacto</h5>
              <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank"
                          href="https://github.com/1151704">GitHub</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container center-align">
          © 2019 Copyright Omar Ramón Montes
      </div>
  </div>
</footer>
