<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a [routerLink]="[this.router.url]" class="navbar-brand" style="font-family: 'Norican', cursive; font-size: 2.5em">
      {{title}}
    </a>
    <ul class="nav navbar-nav mr-auto">
      <li *ngIf="(isLoggedIn | async)" class="nav-item pointer"
      [routerLink]="[ '/home' ]" routerLinkActive="active">
        <a class="nav-link">Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="(isLoggedIn | async)" class="nav-item pointer">
        <a class="nav-link" (click)="logout()">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
