<div class="section white">
  <div class="row container">
    <h2 class="header center-align">Registro</h2>

    <div class="row">
      <form class="col s6 offset-s3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="nombre" [(ngModel)]="form.nombre" #nombre="ngModel"
              required>
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email" [(ngModel)]="form.email" #email="ngModel"
              required>
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="fecha" type="date" class="validate" name="fecha" [(ngModel)]="form.fecha"
              #fecha="ngModel">
            <label for="fecha">Fecha nacimiento</label>
          </div>
          <div class="input-field col s12">
            <input id="username" type="text" class="validate" name="username" [(ngModel)]="form.username"
              #username="ngModel" required>
            <label for="username">Usuario</label>
          </div>
          <div class="input-field col s12">
            <input id="password" type="text" class="validate" name="password" [(ngModel)]="form.password"
              #password="ngModel" required minlength="3" require>
            <label for="password">Contraseña</label>
          </div>
          <div class="col s12 center">
            <button type="submit" class="waves-effect waves-light btn">Registrarse</button>
          </div>
          <div class="col s12 center mt10">
            <a [routerLink]="[ '/inicio/signin' ]">Ingresar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
