<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-primary" role="alert">
      Filtrado: "{{filtro}}"
    </div>
  </div>
  <div class="col-sm-12">
    <div class="alert alert-info" role="alert">
      Usuarios : {{usuarios.length}}
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="card col-4" *ngFor="let user of usuarios">
          <div class="card-body">
            <h5 class="card-title">{{user.nombre}}</h5>
            <p class="card-text">{{user.email}}</p>
            <p class="card-text">{{user.username}}</p>
            <a href="#" class="btn btn-primary">Perfil</a>
        </div>
      </div>
    </div>
  </div>
</div>
