<footer class="page-footer teal">
  <div class="footer-copyright">
      <div class="container ">
          <div class="row mb0">
              <a class="col s3 center white-text " [routerLinkActive]="['item-active']" [routerLink]="[ '/main/publicaciones' ]">
                  <i class="material-icons">view_day</i>
              </a>
              <a class="col s3 center white-text" [routerLinkActive]="['item-active']" [routerLink]="[ '/main/buscar' ]">
                  <i class="material-icons">search</i>
              </a>
              <a class="col s3 center white-text" [routerLinkActive]="['item-active']" [routerLink]="[ '/main/solicitudes' ]">
                  <i class="material-icons">people</i>
              </a>
              <a class="col s3 center white-text" [routerLinkActive]="['item-active']" [routerLink]="[ '/main/perfil' ]">
                  <i class="material-icons">account_circle</i>
              </a>
          </div>
      </div>
  </div>
</footer>
